In [1]:
#Dependencies 
import os
import csv

import pandas as pd

In [2]:
# Path to collect data from the Resources folder
foodAccessData_csv = os.path.join('Resources', 'AZ Food Access Research Atlas.csv')

In [3]:
# Read in the CSV file
with open(foodAccessData_csv) as csvfile:

    # Split the data on commas
    csvreader = csv.reader(csvfile, delimiter=',')

In [4]:
# Use Pandas to read data
food_access_df = pd.read_csv(foodAccessData_csv)
food_access_df.head(100)

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,4001942600,Arizona,Apache,0,1578,447,0,0,0.000000,1,...,180,13,1,0,0,1550,14,35,56,130
1,4001942700,Arizona,Apache,0,5628,1700,0,0,0.000000,1,...,644,96,2,12,1,5444,73,97,164,290
2,4001944000,Arizona,Apache,0,6043,1821,0,3,0.000496,1,...,569,244,12,57,4,5581,145,136,116,289
3,4001944100,Arizona,Apache,0,5870,1632,0,204,0.034753,1,...,482,65,3,1,0,5725,76,77,267,464
4,4001944201,Arizona,Apache,0,4010,1146,0,56,0.013965,0,...,302,244,15,11,0,3662,78,110,107,339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4009961202,Arizona,Graham,0,3609,1248,0,3,0.000831,0,...,472,3155,8,29,2,30,385,964,42,142
96,4009961300,Arizona,Graham,1,3409,1271,0,148,0.043414,0,...,571,2695,44,26,1,81,562,1539,100,325
97,4009961400,Arizona,Graham,1,4947,1696,0,96,0.019406,0,...,713,4072,62,56,4,54,699,2191,143,335
98,4009961500,Arizona,Graham,0,4449,1509,0,32,0.007193,0,...,532,3782,16,10,3,61,577,1546,31,373
99,4009961600,Arizona,Graham,0,3161,394,1,2203,0.696931,0,...,168,2277,271,42,21,173,377,1340,3,69

Section below is example code I can edit & use to narrow my df to Maricopa county only.

In [5]:
# Create a new DataFrame that looks into a specific county
maricopa_food_access_df = food_access_df.loc[food_access_df["County"] == "Maricopa"]
maricopa_food_access_df

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
113,4013010101,Arizona,Maricopa,0,5073,2246,0,0,0.000000,0,...,1645,4869,44,61,7,12,80,161,42,0
114,4013010102,Arizona,Maricopa,1,4640,2041,0,0,0.000000,0,...,1240,4367,21,108,5,6,133,169,73,14
115,4013030401,Arizona,Maricopa,1,4283,2008,0,47,0.010974,0,...,1431,4100,30,65,0,11,77,111,58,21
116,4013030402,Arizona,Maricopa,1,3895,1706,0,0,0.000000,0,...,792,3627,27,27,3,18,193,320,0,19
117,4013040502,Arizona,Maricopa,1,4861,2188,0,169,0.034766,1,...,1340,4343,12,24,1,85,396,759,195,258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1024,4013980100,Arizona,Maricopa,0,0,0,0,0,0.000000,0,...,0,0,0,0,0,0,0,0,0,0
1025,4013980400,Arizona,Maricopa,1,15,5,0,8,0.533333,1,...,0,5,0,8,0,0,2,2,0,0
1026,4013980500,Arizona,Maricopa,0,0,0,0,0,0.000000,0,...,0,0,0,0,0,0,0,0,0,0
1027,4013980600,Arizona,Maricopa,0,0,0,0,0,0.000000,0,...,0,0,0,0,0,0,0,0,0,0
1028,4013980700,Arizona,Maricopa,0,4,2,0,0,0.000000,0,...,2,4,0,0,0,0,0,0,0,0

Getting data organized for a database?

Setup

In [6]:
import matplotlib
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [7]:
import matplotlib
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [8]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [ ]:
# Define our FoodDesert table
class FoodDesert(Base):
    __tablename__ = 'food_desert_data'
    id = Column(Integer, primary_key=True)
    state = Column(String)
    County = Column(String)
    Urban = Column (Integer)
    POP2010 = Column(Integer)
    OHU2010 = Column(Integer)
    GroupQuartersFlag = Column(Integer)
    NUMGQTRS = Column(Integer)
    PCTGQTRS = Column(Integer)
    LILATracts_1And10 = Column(Integer)
    LILATracts_halfAnd10 = Column(Integer)
    LILATracts_1And20 = Column(Integer)
    LILATracts_Vehicle = Column(Integer)
    HUNVFlag = Column(Integer)
    LowIncomeTracts = Column(Integer)
    PovertyRate = Column(Integer)
    MedianFamilyIncome = Column(Integer)
    LowIncomeTracts = Column(Integer)
    LA1and10 = Column(Integer)
    LAhalfand10 = Column(Integer)
    LA1and20 = Column(Integer)
    LATracts_half = Column(Integer)
    LATracts1 = Column(Integer)
    LATracts10 = Column(Integer)
    LATracts20 = Column(Integer)
    LATractsVehicle_20 = Column(Integer)
    LAPOP1_10 = Column(Integer)
    LAPOP05_10 = Column(Integer)
    LAPOP1_20 = Column(Integer)
    LALOWI1_10 = Column(Integer)
    LALOWI05_10 = Column(Integer)
    LALOWI1_20 = Column(Integer)
    lapophalf = Column(Integer)
    lapophalfshare = Column(Integer)
    lalowihalf = Column(Integer)
    lalowihalfshare = Column(Integer)
    lakidshalf = Column(Integer)
    lakidshalfshare = Column(Integer)
    laseniorshalf = Column(Integer)
    laseniorshalfshare = Column(Integer)
    lawhitehalf = Column(Integer)
    lawhitehalfshare = Column(Integer)
    lablackhalf = Column(Integer)
    lablackhalfshare = Column(Integer)
    laasianhalf = Column(Integer)
    laasianhalfshare = Column(Integer)
    lanhopihalf = Column(Integer)
    lanhopihalfshare = Column(Integer)
    laaianhalf = Column(Integer)
    laaianhalfshare = Column(Integer)
    laomultirhalf = Column(Integer)
    laomultirhalfshare = Column(Integer)
    lahisphalf = Column(Integer)
    lahisphalfshare = Column(Integer)
    lahunvhalf = Column(Integer)
    lahunvhalfshare = Column(Integer)
    lasnaphalf = Column(Integer)
    lasnaphalfshare = Column(Integer)
    lapop1 = Column(Integer)
    lapop1share = Column(Integer)
    lapop10 = Column(Integer)
    lapop10share = Column(Integer)
    lalowi10 = Column(Integer)
    lalowi10share = Column(Integer)
    lakids10 = Column(Integer)
    lakids10share = Column(Integer)
    laseniors10 = Column(Integer)
    laseniors10share = Column(Integer)
    lawhite10 = Column(Integer)
    lawhite10share = Column(Integer)
    lablack10 = Column(Integer)
    lablack10share = Column(Integer)
    laasian10 = Column(Integer)
    laasian10share = Column(Integer)
    lanhopi10 = Column(Integer)
    lanhopi10share = Column(Integer)
    laaian10 = Column(Integer)
    laaian10share = Column(Integer)
    laomultir10 = Column(Integer)
    laomultir10share = Column(Integer)
    lahisp10 = Column(Integer)
    lahisp10share = Column(Integer)
    LowIncomeTracts = Column(Integer)
    lahunv10share = Column(Integer)
    lasnap10 = Column(Integer)
    lasnap10share = Column(Integer)
    lapop20 = Column(Integer)
    lapop20share = Column(Integer)
    lalowi20 = Column(Integer)
    lalowi20share = Column(Integer)
    lakids20 = Column(Integer)
    lakids20share = Column(Integer)
    laseniors20 = Column(Integer)
    laseniors20share = Column(Integer)
    lawhite20 = Column(Integer)
    lawhite20share = Column(Integer)
    lablack20 = Column(Integer)
    lablack20share = Column(Integer)
    laasian20 = Column(Integer)
    laasian20share = Column(Integer)
    lanhopi20 = Column(Integer)
    lanhopi20share = Column(Integer)
    laaian20 = Column(Integer)
    laaian20share = Column(Integer)
    laomultir20 = Column(Integer)
    laomultir20share = Column(Integer)
    lahisp20 = Column(Integer)
    lahisp20share = Column(Integer)
    lahunv20 = Column(Integer)
    lahunv20share = Column(Integer)
    lasnap20 = Column(Integer)
    lasnap20share = Column(Integer)
    TractLOWI = Column(Integer)
    TractKids = Column(Integer)
    TractSeniors = Column(Integer)
    TractWhite = Column(Integer)
    TractBlack = Column(Integer)
    TractAsian = Column(Integer)
    TractNHOPI = Column(Integer)
    TractAIAN = Column(Integer)
    TractOMultir = Column(Integer)
    TractHispanic = Column(Integer)
    TractHUNV = Column(Integer)
    TractSNAP = Column(Integer)

In [9]:
# pgAdmin Password
from config import pswrd

In [21]:
engine = create_engine(f'postgresql://postgres:{pswrd}@localhost:5432/FoodForAll')

In [ ]:
# Right now, this table only exists in python and not in the actual database
Base.metadata_all(engine)

In [ ]:
# Push the Objects Made and Query the Server Using the Object - SESSION 
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [ ]:
# CREATE SOME INSTANCES OF THE FoodDesert CLASS
CensusTract_one = CensusTract(CensusTract="4001942600",State="Arizona", County="Maricopa", Urban=True, POP2010="",
                             OHU2010="", GroupQuartersFlag="", NUMGQTRS="", PCTGQTRS="", LILATracts_1And10="",
                             LILATracts_halfAnd10="", LILATracts_1And20="", LILATracts_Vehicle="", HUNVFlag="",
                             LowIncomeTracts="", PovertyRate="", MedianFamilyIncome="", LowIncomeTracts="", LA1and10="",
                             LAhalfand10="", LA1and20="", LATracts_half="", LATracts1="", LATracts10="", LATracts20="",
                             LATractsVehicle_20="", LAPOP1_10="",LAPOP05_10="", LAPOP1_20="", LALOWI1_10="", LALOWI05_10="",
                             LALOWI1_20="", lapophalf="", lapophalfshare="", lalowihalf="", lalowihalfshare="", lakidshalf="",
                             lakidshalfshare="", laseniorshalf="", laseniorshalfshare="", lawhitehalf="",
                             lawhitehalfshare = Column(Integer))
CensusTract_two = CensusTract(item="Broken TV", weight=10.75, collector="Paul")
CensusTract_three = CensusTract(item="Burger", weight=0.55, collector="Phil")

In [22]:
engine.execute('SELECT * FROM FoodForAll LIMIT 5').fetchall()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "foodforall" does not exist
LINE 1: SELECT * FROM FoodForAll LIMIT 5
                      ^

[SQL: SELECT * FROM FoodForAll LIMIT 5]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
inspector = inspect(engine)
columns = inspector.get_columns('FoodForAll')
for c in columns:
    print(c['name'], c["type"])

Reflect and query dates

In [ ]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)
Dow = Base.classes.dow

In [ ]:
session = Session(engine)